<ion-header [translucent]="true">
  <ion-toolbar color="app">
    <ion-img class="ion-margin-start" src="./assets/img/logo-header.svg" alt="" slot="start"></ion-img>
    <ion-title>
      <ion-label class="ion-text-uppercase title">{{title}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tapas</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-list *ngIf="tapasService?.tapas?.length">
    <ion-item *ngFor="let tapa of tapasService?.tapas">
      <ion-label>
        <ion-text>
          <h1 class="ion-text-wrap"><span *ngIf="tapa?.numero">{{tapa.numero}}. </span>{{tapa.name}}</h1>
        </ion-text>

        <ion-row *ngIf="tapa.allergens?.length">
          <ion-col class="ion-text-wrap">
            <ion-badge class="ion-margin-end" [class]="allergensService.getColorById(allergen)"
              *ngFor="let allergen of tapa.allergens">
              {{allergensService.getNameById(allergen)}}
            </ion-badge>
          </ion-col>
        </ion-row>

        <p *ngIf="tapa?.price?.one">Ración: {{tapa.price.one | currency:'EUR':'symbol'}}
          <span *ngIf="tapa?.price?.half">
            / Media: {{tapa.price.half | currency:'EUR':'symbol'}}</span>
          <span *ngIf="tapa?.price?.tapa"> / Tapa:
            {{tapa.price.tapa | currency:'EUR':'symbol'}}</span>
        </p>

        <p *ngIf="tapa?.price?.entero">Entero: {{tapa.price.entero | currency:'EUR':'symbol'}}
          <span *ngIf="tapa?.price?.medio">
            / Medio: {{tapa.price.medio | currency:'EUR':'symbol'}}</span>
          <span *ngIf="tapa?.price?.tapa"> / Tapa:
            {{tapa.price.tapa | currency:'EUR':'symbol'}}</span>
        </p>

        <p *ngIf="tapa?.price?.precio">{{tapa.price.precio | currency:'EUR':'symbol'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>