<ion-tabs>
  <ion-tab-bar slot="bottom" color="app">
    <ion-tab-button tab="tapas/raciones">
      <ion-icon size="large" name="restaurant-outline"></ion-icon>
      <ion-label>Raciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tapas/tapas">
      <ion-icon size="large" name="beer-outline"></ion-icon>
      <ion-label>Tapas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tapas/bocatines">
      <ion-icon size="large" name="fast-food-outline"></ion-icon>
      <ion-label>Bocatines</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tapas/desayunos">
      <ion-icon size="large" name="cafe-outline"></ion-icon>
      <ion-label>Desayunos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>