<ion-header [translucent]="true">
  <ion-toolbar color="app">
    <ion-img class="ion-margin-start" src="./assets/img/logo-header.svg" alt="" slot="start"></ion-img>
    <ion-title>
      <ion-label class="ion-text-uppercase title">Raciones</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Raciones</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-list *ngIf="racionesService?.raciones?.length">
    <ion-item *ngFor="let racion of racionesService?.raciones">
      <ion-label>
        <ion-text><h1>{{racion.nombre}}</h1></ion-text>
        <p>{{racion.precio | currency:'EUR':true}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>