<ion-header [translucent]="true">
  <ion-toolbar color="app">
    <ion-img class="ion-margin-start" src="./assets/img/logo-header.svg" alt="" slot="start"></ion-img>
    <ion-title>
      <ion-label class="ion-text-uppercase title">Bocatines</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bocatines</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-list *ngIf="bocatinesService?.bocatines?.length">
    <ion-item *ngFor="let bocatin of bocatinesService?.bocatines">
      <ion-label>
        <ion-text>
          <h1 class="ion-text-wrap">{{bocatin.id}}. {{bocatin.nombre}}</h1>
        </ion-text>
        <p>{{bocatin.precio | currency:'EUR':'symbol'}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>